:root {
  --primary-color: #0f171e;
  --second-color: #1a242f;
  --font-primary: #fff;
  --font-second: #79b8f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

html,
body {
  background-color: var(--primary-color);
}

#root {
  min-height: 100vh;
}

.container {
  margin: 0 40px;
}
